@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s;
  padding:4px;
  background-color: #80A1F8;
  color:white;
}
button:hover {
  background-color: #0043F1;
  transition: 0.2s;
}
button:focus,
button:focus-visible {
  outline-style: none;
}

.btn-noeffect {
  border:none;
  background-color: transparent;
}

.btn-noeffect:hover {
  border:none;
  background-color: transparent;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  padding: 1rem;
}

/* My custom */
.element-input-text {
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
}

.element-hr-style1 {
  border-width: 1px;
  border-color: black;
}

.element-hr-style2 {
  border-width: 0.5px;
  border-color: silver;
}

.element-listitem-oddrow{
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
}

.element-listitem-evenrow{
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.element-input-style1 {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: silver;
  border-width: 1px;
  font-size: 16px;
}

.element-input-style1:focus {
  outline:none;
}

.element-input-style2 {
  border : 0;
  font-size: 16px;
}
.element-scrollable-div {
  overflow-x: hidden;
  overflow-y: auto;
}

.element-scrollable-div::-webkit-scrollbar {
  width: 12px; /* 스크롤바를 숨김 */
}

.element-scrollable-div::-webkit-scrollbar-track {
  background: transparent;
}

.element-scrollable-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: 0.2s;
}

.element-scrollable-div:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.element-button{
  background-color: #80A1F8;
}

.btn-add {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  background-color: #68d962;
}

.btn-add:hover {
  background-color: #4da149;
}

.btn-remove {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  background-color: #ff613c;
}

.btn-remove:hover {
  background-color: #c64a2e;
}

/* Status Stack */
.service-status-stack {
  position: absolute;
  bottom:50px;
}

.service-status-common {
  color:white;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.status-ok {
  background-color: #68d962;
}

.status-alert {
  background-color: #ff613c;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}
